.sidebar {
  color: var(--color-main-text);
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 22px 18px 22px;
  background-color: var(--color-main-bg);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.brandName {
  font-weight: 780;
  letter-spacing: 0.01em;
  font-size: 16px;
}

.badge {
  font-family: var(--mono);
  font-size: 11px;
  color: var(--color-main-500);
  border: 1px solid var(--color-border-dark);
  text-transform: uppercase;
  padding: 6px 8px;
  border-radius: 999px;
  background: var(--color-main-50);
}

.bottom {
  margin-top: auto;
  color: var(--color-main-50);
  font-size: 11px;
  font-family: var(--mono);
}

.hamburgerButton {
  display: none;
  width: 32px;
  height: 32px;
}

.content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 980px) {
  .sidebar {
    height: var(--sp-header-height);
    padding-top: 12px;
    padding-bottom: 22px;
    position: fixed;
    top: calc(var(--sp-header-height) * (var(--sp-header-visible) - 1));
    border-right: none;
    border-bottom: 1px solid var(--color-border);
    overflow: clip;
    transition: 0.3s height, 0.2s top;
    z-index: 99999;

    &.open {
      height: calc(var(--height) + 12px);
      max-height: 100%;
      overflow: scroll;
    }
  }

  .brand {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-main-bg);
  }

  .hamburgerButton {
    display: block;
  }

  .content {
    overflow: visible;
  }
}
