.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
  padding: 26px 26px 18px;
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.content {
  padding-top: 32px;
}

.title {
  margin: 0;
  font-size: 22px;
  letter-spacing: 0.01em;
}

.recentWorksList {
  display: block grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;

  > :last-child {
    display: none;
  }
}

@media (max-width: 1300px) {
  .recentWorksList {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    > :last-child {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .recentWorksList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}