/* src/app/globals.css */
:root {
  --bg1: #f7f7f7;
  --bg2: #f2f2f2;

  --panel: #ffffff;
  --panel2: #fafafa;

  --border: #e6e6e6;
  --border2: #dcdcdc;

  --text: #111111;
  --sub: #555555;
  --muted: #777777;

  --radius: 16px;
  --radius2: 12px;

  --mono: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --mono2: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--mono);
  color: var(--text);
  background: linear-gradient(180deg, var(--bg1), var(--bg2));
}

a {
  color: inherit;
}
