.content {
  padding-top: 64px;
}

.title {
  margin: 0;
  font-size: 22px;
  letter-spacing: 0.01em;
}

.sub {
  color: var(--color-main-500);

  &:first-child {
    margin-top: 0;
  }
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 980px) {
  .right {
    width: 100%;
    max-width: 320px;
  }
  .content {
    padding-top: 0;
  }
}
