.button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: var(--color-main-300) solid 1px;
  border-radius: var(--radius-300);
  position: relative;

  container-type: inline-size;

  &.open {
    .line {
      transition: top 0.1s, rotate 0.2s 0.1s, opacity 0.2s;

      &:nth-child(1) {
        top: 30%;
        rotate: 26deg;
      }

      &:nth-child(2) {
        top: 30%;
        rotate: -26deg;
      }

      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}

.line {
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50%;
  background-color: var(--color-main-300);
  width: 66%;
  height: max(1%, 1px);
  transform-origin: center;
  transition: top 0.2s 0.1s, rotate 0.2s, opacity 0.2s 0.1s;

  &:nth-child(1) {
    top: 15%;
  }

  &:nth-child(2) {
    top: 44%;
  }
}

.menuText {
  font-size: 100cqi;
  color: var(--color-main-300);
  position: absolute;
  left: 50%;
  top: 78%;
  translate: -50% -50%;
  transform-origin: center;
  scale: 0.45;
  text-transform: uppercase;
}