.search {
  width: 320px;
  max-width: 50vw;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  background-color: var(--color-main-50);
  border-radius: 12px;
  padding: 10px 12px;
  gap: 8px;
  color: var(--color-main-300);

  &:has(.input:focus),
  &:has(.input:focus-visible) {
    outline: 2px solid var(--color-primary);
  }
}

.hint {
  font-family: var(--mono);
  font-size: 11px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 13px;
  color: var(--color-main-text);
}

@media (max-width: 980px) {
  .search {
    width: 100%;
    max-width: none;
  }
}
