.button {
  background-color: transparent;
  border: 1px solid var(--color-main-300);
  border-radius: var(--radius-700);
  outline: none;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;

  &.disabled {
    background-color: var(--color-main-50);
    border-color: var(--color-border);
    color: var(--color-main-300);
    cursor: not-allowed;
  }

  &.light {
    border-color: transparent;
  }

  &:hover {
    background-color: var(--color-main-100);
  }

  &.primary {
    background-color: var(--color-primary-light);
    color: var(--color-main-bg);

    &:hover {
      background-color: var(--color-primary);
    }
  }
}