.label {
  display: grid;
  grid-template-columns: var(--label-width, 320px) 1fr;
  grid-template-areas:
    "label input"
    "label alert"
    "label placeholder";
}

.labelText {
  font-size: 14px;
  color: var(--color-main-900);
  margin: 10px 8px 0;
  grid-area: label;

  &.isPreview {
    margin-top: 0;
  }
}

.input {
  width: 100%;
  font-size: 16px;
  border-radius: var(--radius-600);
  background: transparent;
  border: 1px solid var(--color-border);
  background-color: var(--color-main-50);
  padding: 10px 12px;
  color: var(--color-main-900);

  &.textarea {
    min-height: 240px;
    resize: vertical;
  }

  &.hasAlert {
    border-color: var(--color-accent);
  }
}

.placeholder {
  font-size: 14px;
  color: var(--color-main-300);
  margin: 4px 8px 0;
  grid-area: placeholder;
}

.preview {
  grid-row: 1 / 3;
}

.alert {
  font-size: 12px;
  color: var(--color-accent-dark);
  margin: 2px 8px 0;
  grid-area: alert;
}